<div class="comments-wrap">
    <ul class="comments-list">
        <li>
            <div class="comment-actions">
                <span class="comment-score">1</span>
            </div>
            <div class="comment-body">
                <span class="comment-copy">Where are you trying to get <code class="code">prodId</code>?</span>
                <span class="comment-separated">-</span>
                <a href="user-profile.html" class="comment-user" title="15,467 reputation">Majed Badawi</a>
                <span class="comment-separated">-</span>
                <a href="#" class="comment-date">8 hours ago</a>
            </div>
        </li>
        <li>
            <div class="comment-actions">
                <span class="comment-score"></span>
            </div>
            <div class="comment-body">
                <span class="comment-copy">In a separate js file. @MajedBadawi</span>
                <span class="comment-separated">-</span>
                <a href="user-profile.html" class="comment-user owner" title="224,110 reputation">Arden Smith</a>
                <span class="comment-separated">-</span>
                <a href="#" class="comment-date">8 hours ago</a>
            </div>
        </li>
        <li>
            <div class="comment-actions">
                <span class="comment-score"></span>
            </div>
            <div class="comment-body">
                <span class="comment-copy">@MajedBadawi I just updated the code to show where I'm trying to get
                    it.</span>
                <span class="comment-separated">-</span>
                <a href="user-profile.html" class="comment-user owner" title="224,110 reputation">Arden Smith</a>
                <span class="comment-separated">-</span>
                <a href="#" class="comment-date">8 hours ago</a>
            </div>
        </li>
        <li>
            <div class="comment-actions">
                <span class="comment-score"></span>
            </div>
            <div class="comment-body">
                <span class="comment-copy">Your are missing quotes <code
                        class="code">data-productId={{$product-&gt;id}}</code> Your markup breaks after that</span>
                <span class="comment-separated">-</span>
                <a href="user-profile.html" class="comment-user" title="6,514 reputation">Kevin Martin</a>
                <span class="comment-separated">-</span>
                <a href="#" class="comment-date">8 hours ago</a>
            </div>
        </li>
        <li>
            <div class="comment-actions">
                <span class="comment-score"></span>
            </div>
            <div class="comment-body">
                <span class="comment-copy">This doesn't work either: <code
                        class="code">data-productId="{{$product-&gt;id}}"</code>. @Kevin Martin</span>
                <span class="comment-separated">-</span>
                <a href="user-profile.html" class="comment-user owner" title="224,110 reputation">Arden Smith</a>
                <span class="comment-separated">-</span>
                <a href="#" class="comment-date">8 hours ago</a>
            </div>
        </li>
    </ul>
    <textarea name="editor1"></textarea>
                            </div><!-- end input-box -->
                            



                            
                            <div class="input-box pt-2">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox fs-13 mb-1">
                                        <input type="checkbox" class="custom-control-input" id="notifiedMe">
                                        <label class="custom-control-label custom--control-label" for="notifiedMe">Get
                                            notified by email when someone answers this question.</label>
                                    </div>
                                    <div class="custom-control custom-checkbox fs-13">
                                        <input type="checkbox" class="custom-control-input" id="youAgreeCheckBox">
                                        <label class="custom-control-label custom--control-label" for="youAgreeCheckBox">By
                                            asking your question, you agree to the <a href="privacy-policy.html"
                                                class="text-color hover-underline">Privacy Policy.</a></label>
                                    </div>
                                </div>
                                <div class="btn-box">
                                    <button type="submit" class="btn theme-btn">Publish your question</button>
                                </div>
                            </div>
                    </div><!-- end card -->
                </div><!-- end col-lg-8 -->
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="card card-item p-4">
                            <h3 class="fs-17 pb-3">Step 1: Draft your question</h3>
                            <div class="divider"><span></span></div>
                            <p class="fs-14 lh-22 pb-2 pt-3">The community is here to help you with specific coding,
                                algorithm, or language problems.</p>
                            <p class="fs-14 lh-22">Avoid asking opinion-based questions.</p>
                            <div id="accordion" class="generic-accordion pt-4">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <button class="btn btn-link fs-15" data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            <span><span class="text-color pr-2 fs-16">1.</span> Summarize the problem</span>
                                            <i class="la la-angle-down collapse-icon"></i>
                                        </button>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            <ul
                                                class="generic-list-item generic-list-item-bullet generic-list-item--bullet-2 fs-14">
                                                <li class="lh-18 text-black-50">Include details about your goal</li>
                                                <li class="lh-18 text-black-50">Describe expected and actual results</li>
                                                <li class="lh-18 text-black-50 mb-0">Include any error messages</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- end card -->
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <button class="btn btn-link collapsed fs-15" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <span><span class="text-color pr-2 fs-16">2.</span> Describe what you’ve
                                                tried</span>
                                            <i class="la la-angle-down collapse-icon"></i>
                                        </button>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            <p class="fs-14 lh-22 text-black-50">
                                                Show what you’ve tried and tell us what you found (on this site or
                                                elsewhere) and why it didn’t meet your needs. You can get better answers
                                                when you provide research.
                                            </p>
                                        </div>
                                    </div>
                                </div><!-- end card -->
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <button class="btn btn-link collapsed fs-15" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            <span><span class="text-color pr-2 fs-16">3.</span> Show some code</span>
                                            <i class="la la-angle-down collapse-icon"></i>
                                        </button>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            <p class="fs-14 lh-22 text-black-50">
                                                When appropriate, share the minimum amount of code others need to reproduce
                                                your problem (also called a
                                                <a href="#" class="text-color hover-underline">minimum</a>, <a href="#"
                                                    class="text-color hover-underline">reproducible example</a>)
                                            </p>
                                        </div>
                                    </div>
                                </div><!-- end card -->
                            </div><!-- end accordion -->
                        </div><!-- end card -->
                        <div id="accordion-two" class="generic-accordion">
                            <div class="card mb-3">
                                <div class="card-header" id="headingFour">
                                    <button class="btn btn-link collapsed fs-15" data-toggle="collapse"
                                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        <span>Have a non-programming question?</span>
                                        <i class="la la-angle-down collapse-icon"></i>
                                    </button>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                    data-parent="#accordion-two">
                                    <div class="card-body">
                                        <p class="fs-14 lh-22 text-black-50 pb-2">
                                            <a class="text-color hover-underline d-block" href="#" target="_blank">Super
                                                user</a>
                                            Troubleshooting hardware and software issues
                                        </p>
                                        <p class="fs-14 lh-22 text-black-50 pb-2">
                                            <a class="text-color hover-underline d-block" href="#" target="_blank">Software
                                                engineering</a>
                                            For software development methods and process questions
                                        </p>
                                        <p class="fs-14 lh-22 text-black-50 pb-2">
                                            <a class="text-color hover-underline d-block" href="#" target="_blank">Hardware
                                                recommendations</a>
                                        </p>
                                        <p class="fs-14 lh-22 text-black-50 pb-2">
                                            <a class="text-color hover-underline d-block" href="#" target="_blank">Software
                                                recommendations</a>
                                        </p>
                                        <p class="fs-14 lh-22 text-black-50">Ask questions about the site on <a
                                                class="text-color hover-underline" href="#" target="_blank">meta</a></p>
                                    </div>
                                </div>
                            </div><!-- end card -->
                            <div class="card">
                                <div class="card-header" id="headingFive">
                                    <button class="btn btn-link collapsed fs-15" data-toggle="collapse"
                                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        <span>More helpful links</span>
                                        <i class="la la-angle-down collapse-icon"></i>
                                    </button>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                    data-parent="#accordion-two">
                                    <div class="card-body">
                                        <p class="fs-14 lh-22 text-black-50 pb-2">
                                            Find more information about <a class="text-color hover-underline" href="#"
                                                target="_blank">how to ask a good question here</a>
                                        </p>
                                        <p class="fs-14 lh-22 text-black-50">
                                            Visit the <a class="text-color hover-underline" href="#" target="_blank">help
                                                center</a>
                                        </p>
                                    </div>
                                </div>
                            </div><!-- end card -->
    
                        </div><!-- end accordion -->
                    </div><!-- end sidebar -->
                </div><!-- end col-lg-4 -->